.item {
    display: flex;
    width: 29.5%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
}

@media (max-width: 1200px) {
    .item {
        width: 40%;
    }
}

@media (max-width: 700px) {
    .item {
        width: 100%;
    }
}

.todo {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.todo:focus {
    outline: none;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}
