.item {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
    transition: all 0.2s linear;
}

.item:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px #000;
}

.todo {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.todo:focus {
    outline: none;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}
