.input {
    display: flex;
    align-items: center;
    width: 90%;
    position: relative;
}

@media (max-width: 700px) {
    .input {
        width: 95%;
    }
}

.input__box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input__submit {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    background-color: cornflowerblue;
    color: #fff;
    transition: 0.2s all;
    box-shadow: 0 0 10px #000;
}

.input__submit:hover {
    background-color: #93b3ee;
}

.input__submit:active {
    background-color: #93b3ee;
    transform: scale(0.8);
    box-shadow: 0 0 5px #000;
}
